[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
bs4 = "*"
pickle = "*"
torrequest = "*"
fakeuseragent = "*"
geopy = "*"
pandas = "*"
flake8 = "*"
pytest = "*"
pytest-cov = "*"
folium = "*"
lxml = "*"
gitpython = "*"
fake-useragent = "*"

[requires]
python_version = "3.6"
